@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #6a59ff;
    --white: #ffffff;
    --bg: #f5f5f5;
  }
  
  ::-webkit-scrollbar {
    width: 3px; /* Set the width of the scrollbar */
  }
  
  /* Handle (thumb) */
  ::-webkit-scrollbar-thumb {
    background: #6a59ff; /* Color of the scrollbar handle */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
  }
  
  html {
    scroll-behavior: smooth;
   
  }
  *{
    scrollbar-width: 3px;
    scrollbar-color: #6a59ff #f1f1f1;
  }
  @layer utilities {
    .truncate-words-75 {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }